
/*基本信息*/
.contact .col-lg-9 .message{
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}
.contact .col-lg-9 .message p{
	margin-top: 24px;
	margin-left: 20px;
}
/*地图*/
.contact .col-lg-9 .message .iw_poi_title {
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap;
}
.contact .col-lg-9 .message .iw_poi_content {
	font:12px arial,sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word;
}